body{
    background-color: bisque;
}

.ethiopia{
    display: inline-flex;
}


.e_green{
    width: 400px;
    height: 100px;
    background-color: green;

}

.e_yellow{
    width: 400px;
    height: 100px;
    background-color:yellow;

}

.e_red{
    width: 700px;
    height: 100px;
    background-color: red;


}

/*---*/

