body{
    background-color: bisque;
}

.ethiopia{
    display: inline-flex;
}


.e_green{
    width: 400px;
    height: 100px;
    background-color: green;

}

.e_yellow{
    width: 400px;
    height: 100px;
    background-color:yellow;

}

.e_red{
    width: 400px;
    height: 100px;
    background-color: red;


}

/*---*/


.sa_box{
    height: 250px;
    width: 400px;
 }
 .south-red{
     padding: 30px;
     background-color: red;
 }
 .south-white{
     padding: 30px;
     background-color: white;
 }
 .south-blue{
     padding: 30px;
     background-color: blue;
 }
 .south-white2{
     width: 0;
     height: 0;
     position: relative;
     bottom: 180px;
     left: 80px;
     border-top: 90px solid transparent;
     border-bottom: 90px solid transparent;
     border-left: 100px solid white;
     
 }
 .south-white3{
     background-color: white;
     position: relative;
     width: 20px;
     height: 180px;
     bottom: 360px;
     left: 60px;
 }
 .south-green{
     background-color: green;
     position: relative;
     padding: 20px;
     bottom: 470px;
 }
 .south-green2{
     position: relative;
     bottom: 580px;
     left: 60px;
     width: 0;
     height: 0;
     border-top: 90px solid transparent;
     border-bottom: 90px solid transparent;
     border-left: 100px solid green;
    
 }
 .south-green3{
     background-color: green;
     position: relative;
     bottom: 760px;
     width: 60px;
     height: 180px;
     
 }
 .south-yellow{
     width: 0;
     height: 0;
     position: relative;
     bottom: 940px;
     border-top: 90px solid transparent;
     border-bottom: 90px solid transparent;
     border-left: 100px solid yellow;
    
 }
 .south-black{
     width: 0;
     height: 0;
     position: relative;
     bottom: 1100px;
     border-top: 70px solid transparent;
     border-bottom: 70px solid transparent;
     border-left: 80px solid black;
 }
 
/*---*/ 



.costarica{
    display: inline-flex;
}
.costa_div{
    display: inline-block;
}

.c_blue1{
    width: 400px;
    height: 50px;
    background-color:blue;

}

.c_white1{
    width: 400px;
    height: 50px;
    background-color:white;

}

.c_red{
    width: 400px;
    height: 100px;
    background-color: red;



}
.c_white2{
    width: 400px;
    height: 50px;
    background-color:white;



}
.c_blue2{
    width: 400px;
    height: 50px;
    background-color:blue;



}

/*--*/

#uae{
    display: inline-block;
    padding-bottom: 50px;
}

.u_green{
    width: 400px;
    height: 100px;
    background-color: green;

}

.u_white{
    width: 400px;
    height: 100px;
    background-color:white;

}

.u_black{
    width: 400px;
    height: 100px;
    background-color: black;



}
.u_red{
    height: 300px;
    width: 100px;
    background-color: red;
    position: relative;
    bottom: 300px;
}

  